
*.java
*.class
bug-fixes-report.docx
test-runs.py
~$g-fixes-report.docx
bug-fixes-report.docx
__pycache__/documentation.cpython-313.pyc
bug-fixes-report.docx
bug-fixes-report.docx
~$g-fixes-report.docx
bug-fixes-report.docx
