.evaluation-metrics-wrap {
    padding: 1rem 0 0 3rem;
    display: flex;
    flex-direction: column;

    .heading-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
            margin: 0rem 0 2rem 0;
            font-size: 2rem;
        }

        .cds--btn--primary { 
            font-size: 1.1rem;
            line-height: 1.4;
            text-align: center;
            padding: 0.6rem 0.8rem;
        }

        .cds--btn--ghost {
            margin-left: 0.5rem;
            &:focus {
                outline: none;
                box-shadow: none;
                border-color: #78a9ff;
            }
        }
    }

    .information-wrap {
        padding: 1rem 1.4rem;
        margin-inline-start: 0 !important;
        margin-top: 2rem;
        border: 1px solid #aaaaaa;

        > .cds--list__item {
            &::before {
                top: 4px;
                font-weight: bold;
            }
        }
    }

    .cds--data-table {
        .top-rank {
            background-color: #0000314f;
            > td {
                font-weight: bold;
            }
            &:first-child {
                background: #0000314f url('../../../public/Gold1-icon.svg') no-repeat;
                background-size: 1.75rem;
                background-position: 2rem 0.5rem;
            }
            &:nth-child(2) {
                background: #0000314f url('../../../public/Silver2-icon.svg') no-repeat;
                background-size: 1.75rem;
                background-position: 2rem 0.5rem;
            }
            &:nth-child(3) {
                background: #0000314f url('../../../public/Bronze3-icon.svg') no-repeat;
                background-size: 1.75rem;
                background-position: 2rem 0.5rem;
            }
        }
    }
}